[submodule "Coded Correspondence"]
	path = Coded Correspondence
	url = https://github.com/Nicholas-Lawhon/Coded-Correspondence.git
[submodule "Abruptly-Goblins"]
	path = Abruptly-Goblins
	url = https://github.com/Nicholas-Lawhon/Abruptly-Goblins
